ion-toolbar {
    --background: transparent;
    --border-color: transparent;
}

.titulo {
    text-align: center;
    padding-top: 50px;
}

.text-cuenta {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    color: black;
}

.posicion {
    margin-top: 30px;
}

.posicion-enlace {
    margin-top: 50px;
    padding-left: 30px;
}

.tarjeta-cuenta-ahorro {
    --background: yellow;
    --color: yellow;
    --border-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 120px;
    height: 120px;
    .contenido {
        padding-bottom: 0px;
    }
}

.tarjeta-cuenta-corriente {
    --background: green;
    --color: green;
    --border-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 120px;
    height: 120px;
    .contenido {
        padding-bottom: 0px;
    }
}

.centrado {
    padding-left: 125px;
    margin-top: 70px;
}

.centrados {
    margin-top: 50px;
}