<ion-content>
  <ion-slides>
    <ion-slide>
      <img src="/assets/slide_1.jpg" class="slide-image"/>
      <h2><b>Mi Banco App</b></h2>
      <p>El software <b>Mi Banco App</b> es una vista previa práctica del marco en acción y una demostración de uso.</p>
    </ion-slide>

    <ion-slide>
      <img src="/assets/slide_2.png" class="slide-image"/>
      <h2>Facilidad de Acceso</h2>
      <p><b>Interfaz intuitiva</b> es una aplicacion móvil de alta calidad con tecnologías web como HTML, CSS y JavaScript..</p>
    </ion-slide>

    <ion-slide>
      <img src="/assets/slide_3.jpg" class="slide-image"/>
      <h2>Listo para emprezar?</h2>
      <p>Obtenga una vista previa de la aplicación haciendo clic en el enlace a continuación.</p>
      <ion-list>
        <ion-item detail={true} [routerLink]="['/login']">
          <ion-label><b>Entrar</b></ion-label>
        </ion-item>
      </ion-list>
    </ion-slide>

  </ion-slides>
</ion-content>
