ion-button {
    margin: 20px 10px;
}

ion-toolbar {
    --background: transparent;
    --border-color: transparent;
}

.titulo {
    text-align: center;
    padding-top: 50px;
}

.btn {
    padding-left: 20px;
}

.btn-registro {
    font-weight: bold;
}

p {
    padding: 10px 40px;
    font-size: 16px;
    line-height: 1.5;
    color: white;
}
    